#LLM & AI Agent Frameworks
llama-index
langchain
ollama
langchain_ollama
langchain-community
langchain-core

#Backend(API)
fastapi
uvicorn

#Database
sqlalchemy

#Streamlit
streamlit

#dotenv
python-dotenv

#pandas
pandas
numpy